@font-face {
    font-family: 'cotta';
    src: url('../assets/font/cotta.otf');
}

@font-face {
    font-family: 'prosans';
    src: url('../assets/font/Product-Sans.ttf');
}

body {
  background-color: #FAF6ED;
}

.z-index-min {
  z-index: -100;
}

.mt-10 {
  margin-top: 10rem;
}

.header-img {
  width: 100%;
}

.navbar-brand {
  font-family: 'cotta';
  color: #506760 !important;
  font-size: 26px;
  line-height: 29px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
  font-family: 'prosans';
  color: #42544D !important;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.header {
  margin: 0 auto;
}

.header-text h1 {
  font-family: 'cotta';
  color: #506760 !important;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.02em;
}

.header-text p {
  font-family: 'prosans';
  font-size: 20px;
  line-height: 24px;
  color: #A4A4A4;
}

.header-link {
  margin-top: 2rem;
}

.want-ramen {
  font-family: 'cotta';
  font-size: 22px;
  line-height: 24px;
  color: #FD7E1C;
  text-decoration: none;
}

.want-ramen:hover {
  color: #FD7E1C;
  text-decoration: underline;
}

.card {
  padding: 25px;
  background-color: #FFFCF4;
  box-shadow: 6px 4px 9px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 15px;
}

.lil-card {
  text-align: center;
  font-family: 'prosans';
}

.lil-card .title {
  color: #506760;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}

.lil-card .sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #A4A4A4;
}

.menu .sub-title {
  font-family: 'prosans';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #A4A4A4;
}

.menu .title {
  font-family: 'cotta';
  font-weight: 400;
  font-size: 28px;
  line-height: 31px;
  color: #506760;
}

.menu-img {
  max-width: 180px;
  min-width: 100px;
  align-self: center;
}

.menu-title {
  font-family: 'cotta';
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #506760;
  margin-bottom: 1rem;
}

.menu-desc {
  font-family: 'prosans';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #A4A4A4;
  margin-bottom: 0px;
}

.form-container {
  max-width: 650px;
  min-width: 400px;
  padding: 45px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 6px 4px 9px rgba(0, 0, 0, 0.05);
}


.form-container form h3{
   font-family: 'prosans';
   font-style: normal;
   font-weight: 700;
   font-size: 40px;
   line-height: 49px;
   letter-spacing: 0.1em;
   color: #506760;
}

.form-container form input{
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  border-radius: 10px;
}

.form-container form .form-btn{
   background: #FD7E1C;
   color: #fff;
   font-weight: 700;
   font-size: 20px;
   cursor: pointer;
   width: 150px;
   border: none;
}

.form-container form p{
  font-family: 'prosans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #A4A4A4;
  text-align: left;
}

.form-container form p a{
  color:#FD7E1C;
}
